@import url('https://fonts.googleapis.com/css?family=Acme|Anton|Roboto+Condensed');

body{
  font-family: 'Roboto Condensed', sans-serif; 
  margin: 0;
}

/* Landing Page */
header{
  background-image: url("https://previews.dropbox.com/p/thumb/AAMTveENimZCKofY3mSE9y1g63yNrt1VKLRgLAmf-yQ2GQQRuNdHOlkLKbpDZsSS4gW9-Zx-xTJYiNAsJpImrRXO5mJouGz56uhclSAmHW1DdbpxeQKL36-WJv4YtiCdkzPb3hIOfzU3BMW8rlN3Pfj0jkqsUPxecYcK4vassl7hbb1XkZOG_ycWuW9r_1pEz7JLUPGfasC1jFBwYAAJu4pZHj_gpylhfX80Kel8PsSrGw/p.png?size=1600x1200&size_mode=3");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.4); 
}

.logo{
  width: 9%;
  padding: 0px
}

.title{
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 10%;
  text-transform: uppercase;
  padding: 0;
  align-self: center;
}

.buttons {
  text-align: center;
  margin-top: -10px;
  padding-bottom: 16.50%;
  
}

.button-head{
  background-color: Transparent;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  margin: 0 2%;
  outline: none;
  color: #ffffff;
  font-weight: 10000px;
  align-self: center;
  border: 2px #fff solid;
  border-radius: 50px;
  transition: all 500ms ease;
}

.button-head:hover{ /* pink background? box shadow?*/ 
  background: #ffffff; 
  color: #778899;
  box-shadow: 30px 0px 40px rgba(0,0,0,0.1), -30px 0px 40px rgba(0,0,0,0.05);
}

/* Resume */ 



/* Contact */


/* Screen Sizes below 500px 
@media(max-width: 500px){
  #header {
    display:flex;
    height: 100vh; 
    flex: 0 1 100vw;
  }
  
  
}
*/
